{% load static %}
<div class="brand-scene" aria-hidden="true">
  <div class="scene-orbit scene-orbit-one"></div><div class="scene-orbit scene-orbit-two"></div>
  <div class="scene-label">STIMMEN. SPRACHEN. GESCHICHTEN.</div>
  <div class="scene-dialogue scene-dialogue-one"><img src="{% static 'icons/dialogue.svg' %}" alt="" width="40" height="40"><span>Hello!</span><span class="scene-language">Englisch</span></div>
  <div class="scene-dialogue scene-dialogue-two"><img src="{% static 'icons/voices.svg' %}" alt="" width="40" height="40"><span>Bonjour !</span><span class="scene-language">Französisch</span></div>
  <div class="scene-dialogue scene-dialogue-three"><img src="{% static 'icons/globe.svg' %}" alt="" width="40" height="40"><span>¡Hola!</span><span class="scene-language">Spanisch</span></div>
  <div class="scene-player"><img src="{% static 'icons/studio.svg' %}" alt="" width="40" height="40"><div class="scene-wave"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div><span>Zum Zuhören gemacht.</span></div>
</div>
